.hst{
  height: 60px;
  
  margin: 0;padding: 0;
  background-color: grey;
  text-align: center;
  text-transform: uppercase;
}
.slot-outer{
  
  margin-top: 10px;
  width: 500px;
  height: 500px;
  margin-left: 500px;
  border: 1px solid black;
}
.sb{
  font-size: 1rem;
  font-weight: bold;
  background-color: azure;
  margin-left: 233px;
  border-radius: 5px;
  border: 1px solid black;
}