.hst{
  height: 60px;
  
  margin: 0;padding: 0;
  background-color: grey;
  text-align: center;
  text-transform: uppercase;
}
.slot-outer{
  
  margin-top: 10px;
  width: 500px;
  height: 450px;
  margin-left: 500px;
  border: 1px solid black;
}